# This file defines mandatory reviewers for matching paths.
#
# Docs: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @HYOSUNG-ITX-AI-Business-Department/ai-service-team
